html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: 'Syne', sans-serif;
  background-color: #f1edef;
}

.container {
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
}